.topbar {
	position: relative;
	overflow: hidden;
	background-color: #fff;
	.bg {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 152px;
	}
	.fixed-item {
		position: relative;
		z-index: 2;
		.title {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			.h1 {
				font-size: 37upx;
			}
		}
	}
}

.success-box {
	margin-top: 100upx;
	.flex {
		display: flex;
		align-items: center;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		image {
			width: 180upx;
			height: 160upx;
		}
		.info {
			margin-left: 70upx;
			.h4 {
				font-size: 30upx;
			}
			.p {
				color: #FF9813;
				font-size: 42upx;
				margin-top: 30upx;
			}
		}
	}
	.foot {
		color: #4C4C4C;
		font-size: 24upx;
		text-align: center;
		margin-top: 100upx;
	}
}

.btn-wrap {
	margin-top: 100upx;
	padding-left: 30upx;
	padding-right: 30upx;
	button {
		font-size: 36upx;
		border-radius: 20upx;
		border: 1px solid transparent;
		padding-top: 20upx;
		padding-bottom: 20upx;
		& + button {
			margin-top: 63upx;
		}
		&[type="default"] {
			background-color: #fff;
			border-color: #4CA93D;
		}
		&[type="primary"] {
			background-color: #4AA63C;
		}
	}
}