.banner {
	background-color: #9fcbfb;
	.caption {
		text-align: center;
		color: #fff;
		padding-top: 50upx;
		padding-bottom: 50upx;
		.title {
			font-size: 32upx;
		}
		.p {
			font-size: 30upx;
			margin-top: 20upx;
		}
	}
}

.ipt-group {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #eee;
	label {
		padding-left: 30upx;
	}
	input {
		height: 100upx;
		text-align: right;
		flex: 1;
		width: 1%;
		padding-right: 30upx;
		padding-left: 30upx;
		color: #eb4747;
		font-weight: bold;
	}
}

.tip {
	padding: 15upx;
	font-size: 24upx;
	color: #9d9d9d;
}

button {
	width: 90%;
	background-color: #35c374;
	height: 90upx;
	line-height: 90upx;
	border-radius: 100upx;
	font-size: 30upx;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50upx;
	&.button-hover {
		background-color: #35c374;
	}
}