@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './iconfont.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  overflow: hidden;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.min100h {
  min-height: 100%;
}

.mt15 {
  margin-top: 15px;
}

.text-right {
  text-align: right;
}

.mt30 {
  margin-top: 30px;
}

.el-input + .el-select,
.el-select + .el-button,
.el-select + .el-input,
.el-button + .el-input,
.el-button + .el-tag,
.el-input-number + .el-tag,
.el-input + .el-button,
.el-button + .el-select,
.el-select + .el-select,
.el-input + .el-input {
  margin-left: 10px;
}

.el-image-viewer__close {
  color: #fff;
}