.swiper-pics {
	padding: 20upx;
	.swiper-contain {
		position: relative;
		.badge {
			position: absolute;
			z-index: 1;
			right: 20upx;
			bottom: 20upx;
			background-color: rgba($color: #000000, $alpha: .5);
			color: #fff;
			font-size: 18upx;
			padding: 8upx 15upx;
			border-radius: 16upx;
		}
		swiper {
			height: 400upx;
			image {
				width: 100%;
				height: 100%;
				border-radius: 10upx;
			}
		}
	}
	.caption {
		font-size: 37upx;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		margin-top: 30upx;
	}
	.flex-t {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 20upx;
		.left {
			color: #FF9813;
			font-size: 48upx;
			text {
				font-size: 24upx;
			}
		}
		.right {
			display: flex;
			align-items: center;
			text {
				font-size: 36upx;
				margin-left: 20upx;
				margin-right: 20upx;
			}
			image {
				width: 40upx;
				height: 40upx;
			}
		}
	}
	.flex-b {
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #B3B3B3;
		font-size: 24upx;
		margin-top: 20upx;
	}
	.panel {
		background-color: #F6F6F6;
		height: 100upx;
		line-height: 100upx;
		font-size: 24upx;
		color: #429435;
		border-radius: 10upx;
		padding-left: 30upx;
		margin-top: 20upx;
	}
}

.room-desc {
	padding: 20upx;
	.title {
		font-size: 30upx;
		margin-bottom: 30upx;
	}
}

.empty-fixed {
	height: 140upx;
}

.fixed-bottom {
	position: fixed;
	z-index: 10;
	height: 120upx;
	bottom: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 0 10upx rgba($color: #000000, $alpha: .15);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 20upx;
	padding-right: 20upx;
	.left {
		.h4 {
			color: #FF9813;
			font-size: 42upx;
			text {
				font-size: 24upx;
			}
		}
		.p {
			font-size: 24upx;
			color: #C3C3C3;
			margin-top: 10upx;
		}
	}
	.right {
		button {
			display: inline-block;
			height: 72upx;
			line-height: 72upx;
			font-size: 30upx;
			border-radius: 10upx;
			width: 230upx;
		}
		.btn2 {
			background-color: #429435;
			&[disabled] {
				background-color: #dcdcdc;
			}
		}
	}
}