.content {
	display: flex;
	flex-direction: column;
}

.fixed-topbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	.title {
		display: flex;
		align-items: center;
		.iconfont {
			font-size: 40upx;
			font-weight: bold;
			padding-left: 20upx;
			padding-right: 20upx;
			color: #fff;
		}
	}
}

.swiper {
	position: relative;
	swiper {
		height: 480upx;
		.swiper-item, image {
			width: 100%;
			height: 100%;
		}
	}
	.dot {
		position: absolute;
		z-index: 1;
		right: 24upx;
		bottom: 82upx;
		color: #fff;
		background-color: rgba($color: #000000, $alpha: .5);
		padding: 8upx 15upx;
		border-radius: 16upx;
		font-size: 18upx;
	}
}

.store-desc {
	position: relative;
	background-color: #fff;
	z-index: 2;
	margin-top: -58upx;
	padding-left: 20upx;
	padding-right: 20upx;
	border-top-left-radius: 40upx;
	border-top-right-radius: 40upx;
	.title {
		font-size: 37upx;
		padding-top: 39upx;
		padding-bottom: 39upx;
		text {
			color: #FF9813;
			font-size: 18upx;
			margin-left: 10upx;
		}
	}
	.flex-items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.left {
			font-size: 24upx;
			color: #B3B3B3;
			flex: 1;
			width: 1%;
			margin-right: 20upx;
			.bt {
				margin-top: 5upx;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				.iconfont {
					vertical-align: -1px;
					margin-right: 5upx;
					color: #429435;
				}
			}
		}
		.right {
			background-color: #ECF4EA;
			border-radius: 10upx;
			font-size: 24upx;
			color: #46973A;
			padding: 15upx 20upx;
			.iconfont {
				color: #46973A;
				font-size: 40upx;
				margin-right: 10upx;
				vertical-align: -6upx;
			}
		}
	}
	.new-cus-active {
		background-color: #FFF3E5;
		border-radius: 10upx;
		color: #C77A17;
		font-size: 24upx;
		padding: 20upx;
		margin-top: 32upx;
		.p + .p {
			margin-top: 15upx;
		}
	}
}

.scroll-view {
	flex: 1;
	height: 1%;
	padding-left: 20upx;
	padding-right: 20upx;
	display: flex;
	flex-direction: column;
	.title {
		color: #2E2E2E;
		font-size: 30upx;
		padding-top: 30upx;
		padding-bottom: 30upx;
	}
	.scroll-contain {
		position: relative;
		height: 1%;
		flex: 1;
		scroll-view {
			position: relative;
			height: 100%;
			.item {
				& + .item {
					margin-top: 30upx;
				}
				display: flex;
				image {
					width: 270upx;
					height: 160upx;
					border-radius: 10upx;
				}
				.info {
					flex: 1;
					width: 1%;
					margin-left: 20upx;
					display: flex;
					align-items: center;
					justify-content: space-between;
					.l {
						height: 100%;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						flex: 1;
						width: 1%;
						margin-right: 20upx;
						.tp {
							font-size: 30upx;
							color: #2e2e2e;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
						}
						.bt {
							font-size: 24upx;
							.head {
								color: #B3B3B3;
								text-overflow: ellipsis;
								overflow: hidden;
								white-space: nowrap;
								text + text {
									margin-left: 20upx;
								}
							}
							.body {
								color: #4D5AB4;
								margin-top: 10upx;
							}
							.foot {
								margin-top: 10upx;
								.small {
									color: #FF9813;
									font-size: 24upx;
								}
								.money {
									color: #FF9813;
									font-size: 30upx;
								}
								.code {
									color: #B3B3B3;
									font-size: 24upx;
									margin-left: 10upx;
								}
								.sale {
									color: #4D5AB4;
									margin-left: 10upx;
								}
							}
						}
					}
					.r {
						font-size: 30upx;
						background-color: #429435;
						color: #fff;
						padding: 20upx 50upx;
						border-radius: 10upx;
					}
				}
			}
		}
	}
}