.item {
	margin: 30upx;
	box-shadow: 0 0 10upx rgba($color: #000000, $alpha: .15);
	padding: 20upx;
	border-radius: 10upx;
	.store {
		margin-top: 15upx;
	}
	.room {
		margin-top: 15upx;
		display: flex;
		image {
			width: 150upx;
			height: 150upx;
			border-radius: 16upx;
		}
		.info {
			margin-left: 20upx;
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			.h4 {
				background-color: #70b0ff;
				color: #fff;
				border-radius: 4upx;
				padding: 5upx 10upx;
			}
			.foot {
				text {
					color: #f00;
					font-weight: bold;
				}
			}
		}
	}
	.user-info {
		margin-top: 40upx;
		.h4 {
			font-weight: bold;
		}
		.p {
			color: #7a7a7a;
			line-height: 50upx;
		}
	}
	.btn-group {
		display: flex;
		justify-content: flex-end;
		button {
			height: 70upx;
			line-height: 70upx;
			color: #fff;
			& + button {
				margin-left: 20upx;
			}
		}
		.tk {
			background-color: #f54e4e;
		}
		.qxdd {
			background-color: #ff9866;
		}
	}
}

.refund-dialog {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	.mask {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($color: #000000, $alpha: .45);
	}
	.d-content {
		position: absolute;
		z-index: 2;
		width: 80%;
		top: 50%;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		transform: translateY(-50%);
		border-radius: 6upx;
		background-color: #fff;
		padding-bottom: 30upx;
		.title {
			font-size: 30upx;
			text-align: center;
			padding-top: 30upx;
			padding-bottom: 30upx;
		}
		.input-group {
			margin: 30upx 30upx 0;
			label {
				color: #7a7a7a;
			}
			text {
				font-size: 30upx;
				color: #FF0036;
				margin-left: 20upx;
			}
			textarea {
				border: 1px solid #eee;
				width: 100%;
				height: 200upx;
				padding: 20upx;
				margin-top: 20upx;
			}
		}
		.flex {
			display: flex;
			align-items: center;
			.ml20 {
				margin-left: 20upx;
			}
			.btn {
				background-color: #1f6ecf;
				color: #fff;
				padding: 10upx 20upx;
				border-radius: 5upx;
				margin-left: 20upx;
			}
		}
		.btn-group {
			display: flex;
			margin-top: 30upx;
			width: 80%;
			margin-left: auto;
			margin-right: auto;
			justify-content: space-between;
			button {
				flex: .40;
				height: 80upx;
				line-height: 80upx;
				border-radius: 4upx;
			}
			button[type="primary"] {
				background-color: #1f6ecf;
			}
		}
	}
}