.content {
	position: absolute;
	z-index: 1;
	background-color: #fafafa;
	bottom: 164upx;
	left: 0;
	width: 100%;
	box-shadow: 0 0 20upx rgba($color: #000000, $alpha: .16);
	border-top-left-radius: 50upx;
	border-top-right-radius: 50upx;
	height: 50%;
	animation: slideUp .45s both;
}

@keyframes slideUp {
	0% {
		transform: translateY(400upx);
	}
	100% {
		transform: translateY(0);
	}
}

.close-btn {
	position: absolute;
	z-index: 15;
	background-color: #fafafa;
	left: 50%;
	top: -38upx;
	transform: translateX(-50%) rotate(-45deg);
	border-top-right-radius: 30upx;
	padding-top: 30upx;
	padding-right: 30upx;
	.flex {
		width: 80upx;
		height: 80upx;
		background-color: #54ab60;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100%;
		transform: rotate(45deg) translateY(-30upx);
		.iconfont {
			color: #fff;
			font-size: 40upx;
			font-weight: bold;
		}
	}
}

.scroll-view {
	height: 100%;
	display: flex;
	flex-direction: column;
	.title {
		position: relative;
		z-index: 20;
		font-size: 37upx;
		text-align: center;
		margin-top: 70upx;
	}
	scroll-view {
		flex: 1;
		height: 1%;
		padding-top: 30upx;
		.store-name {
			font-size: 37upx;
			padding-bottom: 30upx;
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
		.item {
			position: relative;
			& + .item {
				margin-top: 30upx;
			}
			padding: 30upx;
			margin-left: 30upx;
			margin-right: 30upx;
			box-shadow: 0 0 20upx rgba($color: #000000, $alpha: .15);
			border-radius: 10upx;
			overflow: hidden;
			.mobile {
				position: absolute;
				z-index: 1;
				right: -58upx;
				top: 18upx;
				background: #54ab60;
				color: #fff;
				padding-top: 10upx;
				transform: rotate(45deg);
				width: 30%;
				text-align: center;
				font-size: 24upx;
				padding-bottom: 10upx;
			}
			.flex-head {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.left {
					display: flex;
					flex: 1;
					width: 1%;
					margin-right: 20upx;
					image {
						width: 150upx;
						height: 150upx;
						border-radius: 10upx;
					}
					.info {
						flex: 1;
						width: 1%;
						margin-left: 20upx;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						.tt {
							font-size: 36upx;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
						}
						.bb {
							font-size: 24upx;
							color: #B3B3B3;
							.add {
								text-overflow: ellipsis;
								overflow: hidden;
								white-space: nowrap;
							}
							.iconfont {
								color: #828282;
								vertical-align: -1px;
							}
						}
					}
				}
				.right {
					.flex-btn {
						display: flex;
						justify-content: space-between;
						align-items: center;
						button {
							border-radius: 10upx;
							border-style: solid;
							border-width: 1px;
							font-size: 28upx;
							padding: 5upx 10upx;
							border-color: #242838;
							color: #242838;
							& + button {
								margin-left: 20upx;
							}
						}
					}
					.ft {
						color: #54AB60;
						font-size: 24upx;
						background-color: #EEF6EF;
						border: 1px solid #54AB60;
						border-radius: 10upx;
						padding-top: 5upx;
						padding-bottom: 5upx;
						margin-top: 20upx;
						text-align: center;
						.iconfont {
							font-size: 40upx;
							vertical-align: -6upx;
						}
					}
				}
			}
			.flex-end-type1 {
				display: flex;
				margin-top: 30upx;
				border-top: 1px solid #f0f0f0;
				align-items: center;
				padding-top: 30upx;
				.left {
					color: #5665C9;
					font-size: 24upx;
					display: flex;
					align-items: center;
					.l2 {
						margin-right: 5upx;
					}
					.iconfont {
						vertical-align: -6upx;
						font-size: 40upx;
					}
				}
				.right {
					flex: 1;
					width: 1%;
					display: flex;
					align-items: center;
					justify-content: space-around;
					button {
						padding: 0;
						font-size: 24upx;
					}
					.vlot {
						color: #fff;
						background-color: #4d5ab4;
						border-radius: 10upx;
						padding: 10upx 20upx;
					}
					.door {
						height: 50upx;
						color: #54AB60;
						border-radius: 50upx;
						display: flex;
						align-items: center;
						background-color: #eef6ef;
						min-width: 130upx;
						justify-content: space-between;
						padding-right: 20upx;
						.icon {
							width: 50upx;
							height: 50upx;
							border-radius: 100%;
							background-color: #54ab60;
							display: flex;
							align-items: center;
							justify-content: center;
							.iconfont {
								font-size: 40upx;
								color: #fff;
							}
						}
					}
				}
			}
			.flex-end-type2 {
				margin-top: 30upx;
				color: #ffa026;
				border-top: 1px solid #f0f0f0;
				padding-top: 30upx;
				display: flex;
				align-items: center;
				justify-content: center;
				.left {
					margin-right: 10upx;
				}
				.iconfont {
					vertical-align: -4upx;
					margin-right: 10upx;
					font-size: 40upx;
				}
			}
		}
	}
}