scroll-view {
	height: 100%;
}

.item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 30upx;
	margin-right: 30upx;
	padding-top: 30upx;
	padding-bottom: 30upx;
	.left {
		font-size: 30upx;
		.p {
			color: #BEBEBE;
			margin-top: 10upx;
		}
	}
	.right {
		font-size: 36upx;
		.add {
			color: #FF9813;
		}
		.reduce {
			color: #4AA63C;
		}
	}
	& + .item {
		border-top: 1px solid #D3D3D3;
	}
}