view,button,input,label,text,swiper,swiper-item,scroll-view,form,navigator,picker,textarea {
	box-sizing: border-box;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: none!important;
}

page {
	font-size: 28upx;
	color: #333;
	background-color: #fff;
}

page {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}

button:after {
	display: none;
}

image {
	display: block;
}

.mt15 {
	margin-top: 15upx;
}

.append-more-text {
	padding-top: 40upx;
	padding-bottom: 40upx;
	text-align: center;
	color: #bbb;
	font-size: 30upx;
}