.content {
	display: flex;
	flex-direction: column;
}

.tabs-nav {
	position: relative;
	z-index: 1;
	display: flex;
	.item {
		position: relative;
		padding-top: 20upx;
		padding-bottom: 20upx;
		flex: 1;
		color: #4A5B6C;
		text-align: center;
		transition: all .25s;
	}
	.item:after {
		content: '';
		position: absolute;
		z-index: 1;
		bottom: 0;
		left: 0;
		right: 0;
		width: 20%;
		height: 2px;
		background-color: transparent;
		margin-left: auto;
		margin-right: auto;
		transition: all .25s;
	}
	.item.active {
		color: #429435;
	}
	.item.active:after {
		background-color: #429435;
	}
}

.swiper {
	flex: 1;
	height: 1%;
	swiper,
	scroll-view {
		height: 100%;
	}
	scroll-view {
		margin-top: 30upx;
		padding-bottom: 30upx;
	}
	.item {
		padding: 30upx;
		border-radius: 10upx;
		box-shadow: 0 0 20upx rgba($color: #000000, $alpha: .15);
		margin-left: 30upx;
		margin-right: 30upx;
		.top {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		.name {
			font-size: 36upx;
			flex: 1;
			width: 1%;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			margin-right: 20upx;
		}
		.dzf {
			display: flex;
			align-items: center;
			.small {
				font-size: 24upx;
				color: #FF9813;
			}
			.money {
				font-size: 42upx;
				color: #FF9813;
			}
			button {
				padding: 10upx 20upx;
				background-color: #429435;
				border-radius: 10upx;
				margin-left: 20upx;
			}
		}
		.wks {
			font-size: 24upx;
			color: #429435;
			display: flex;
			align-items: center;
			uni-count-down {
				margin-right: 5upx;
			}
		}
		.yyd {
			display: flex;
			align-items: center;
			color: #FF9813;
			.left {
				display: flex;
				align-items: center;
				uni-count-down {
					margin-right: 5upx;
				}
			}
			button {
				padding: 10upx 20upx;
				background-color: #4D5AB4;
				border-radius: 10upx;
				margin-left: 20upx;
			}
		}
		.normal {
			font-size: 30upx;
		}
		.item-p {
			margin-top: 30upx;
			.p {
				font-size: 24upx;
				color: #B3B3B3;
				& + .p {
					margin-top: 10upx;
				}
			}
		}
		& + .item {
			margin-top: 30upx;
		}
	}
}