.fixed-topbar {
	position: relative;
	image {
		width: 100%;
		height: 232px;
	}
	.fixed-item {
		position: absolute;
		z-index: 3;
		top: 0;
		left: 0;
		width: 100%;
		.title {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #fff;
			.iconfont {
				position: absolute;
				z-index: 1;
				left: 0;
				padding-left: 20upx;
				font-size: 45upx;
				font-weight: bold;
			}
			.h1 {
				font-size: 37upx;
			}
		}
	}
	.center-cont {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		.left {
			.iconfont {
				vertical-align: -2px;
				font-size: 40upx;
				margin-right: 5upx;
			}
			color: #fff;
			margin-right: 10upx;
		}
	}
}

.slider-contain {
	position: relative;
	z-index: 2;
	margin: -50px 30upx 0;
	box-shadow: 0 0 20upx rgba($color: #000000, $alpha: .16);
	border-radius: 10upx;
	background-color: #fff;
	padding: 30upx;
	.tip {
		font-size: 18upx;
		.iconfont {
			color: #bbb;
			vertical-align: -4upx;
			margin-right: 5upx;
		}
	}
	.num-box {
		text-align: center;
		.h4 {
			font-size: 72upx;
		}
		.p {
			color: #B3B3B3;
			font-size: 24upx;
			margin-top: 10upx;
		}
	}
	slider {
		margin: 30upx 0 0;
	}
	.foot {
		text-align: right;
		font-size: 30upx;
		padding-top: 30upx;
		padding-bottom: 30upx;
		.warn {
			color: #FF9813;
			margin-left: 5upx;
			margin-right: 5upx;
		}
		.small {
			font-size: 24upx;
			color: #FF9813;
			margin-left: 10upx;
		}
		.big {
			font-size: 42upx;
			color: #FF9813;
		}
	}
}

.pay-way {
	margin: 30upx;
	padding: 20upx 30upx;
	border-radius: 20upx;
	box-shadow: 0 0 20upx rgba($color: #000000, $alpha: .15);
	background-color: #fff;
	.item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 20upx;
		padding-bottom: 20upx;
		.left {
			font-size: 30upx;
			.iconfont {
				margin-right: 20upx;
				font-size: 40upx;
			}
			.icon-qb {
				color: #ff9813;
			}
			.icon-wxzf {
				color: #6dbc41;
				vertical-align: -4upx;
			}
			.warn {
				color: #FF9813;
				margin-left: 20upx;
			}
		}
		.right {
			image {
				width: 40upx;
				height: 40upx;
			}
		}
	}
}

.empty-fixed {
	height: 120upx;
}

.fixed-bottom-btn {
	position: fixed;
	z-index: 10;
	bottom: 20upx;
	left: 0;
	width: 100%;
	padding-left: 30upx;
	padding-right: 30upx;
	button {
		height: 88upx;
		line-height: 88upx;
		background-color: #429435;
		border-radius: 20upx;
		font-size: 36upx;
	}
}