.item {
	margin: 30upx;
	margin-bottom: 0;
	box-shadow: 0 0 10upx 6upx #eee;
	border-radius: 10upx;
	padding: 30upx;
	.flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.left {
			flex: 1;
			width: 1%;
			margin-right: 30upx;
			.h4 {
				font-size: 36upx;
			}
			.p {
				font-size: 26upx;
				margin-top: 30upx;
			}
		}
		.right {
			button {
				height: 80upx;
				line-height: 80upx;
				border-radius: 10upx;
				font-size: 26upx;
			}
		}
	}
}