@font-face {
  font-family: "iconfont"; /* Project id 2816318 */
  src: url('//at.alicdn.com/t/font_2816318_0wol3bt51gb.woff2?t=1641363229891') format('woff2'),
       url('//at.alicdn.com/t/font_2816318_0wol3bt51gb.woff?t=1641363229891') format('woff'),
       url('//at.alicdn.com/t/font_2816318_0wol3bt51gb.ttf?t=1641363229891') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mobile:before {
  content: "\e678";
}

.icon-rili:before {
  content: "\e8cf";
}

.icon-shg:before {
  content: "\e886";
}

.icon-order:before {
  content: "\e737";
}

.icon-gwcar:before {
  content: "\e682";
}

.icon-search:before {
  content: "\e60f";
}

.icon-tip:before {
  content: "\e72b";
}

.icon-qb:before {
  content: "\e600";
}

.icon-wxzf:before {
  content: "\e653";
}

.icon-clock:before {
  content: "\e614";
}

.icon-key:before {
  content: "\e641";
}

.icon-share:before {
  content: "\e72f";
}

.icon-date:before {
  content: "\e602";
}

.icon-list:before {
  content: "\e61e";
}

.icon-loca:before {
  content: "\e769";
}

.icon-close:before {
  content: "\e601";
}

.icon-zb2:before {
  content: "\e64b";
}

.icon-zb1:before {
  content: "\e60e";
}

.icon-right:before {
  content: "\e656";
}

.icon-left:before {
  content: "\e657";
}

.icon-down:before {
  content: "\e658";
}