page {
	background-color: #F8F8F8;
}

.content {
	overflow-y: auto;
}

.fixed {
	position: fixed;
	z-index: 10;
	left: 0;
	width: 100%;
}

.search-box {
	height: 100upx;
	padding-left: 30upx;
	padding-right: 30upx;
	background-color: #fff;
	display: flex;
	align-items: center;
	navigator {
		background-color: #F7F7F7;
		border-radius: 50upx;
		text-align: center;
		color: #D3D3D3;
		padding-top: 10upx;
		padding-bottom: 10upx;
		flex: 1;
		.iconfont {
			font-size: 40upx;
			vertical-align: -4upx;
			margin-right: 6upx;
		}
	}
	navigator.active {
		color: #3e3e3e;
	}
}

.swiper-pics {
	background-color: #fff;
	padding: 20upx;
	padding-bottom: 0;
	swiper {
		height: 400upx;
		.swiper-item,
		image {
			width: 100%;
			height: 100%;
			border-radius: 10upx;
		}
	}
}

.foot-tabs {
	position: relative;
	width: 100%;
	height: 90upx;
	scroll-view {
		width: 100%;
		white-space: nowrap;
		.item {
			position: relative;
			height: 90upx;
			line-height: 90upx;
			display: inline-block;
			width: 150upx;
			transition: all .25s;
			&:after {
				transition: all .25s;
				content: '';
				position: absolute;
				z-index: 1;
				bottom: 0;
				left: 0;
				width: 20%;
				height: 2px;
				background-color: transparent;
			}
		}
		.item.active {
			color: #429435;
			&:after {
				background-color: #429435;
			}
		}
	}
	::-webkit-scrollbar {
		width: 0;
		height: 0;
		color: transparent;
	}
}

.foot-tabs.fixed {
	position: fixed;
	z-index: 10;
	left: 20upx;
	right: 20upx;
	background-color: #fff;
}

.swiper-list {
	position: relative;
	padding: 20upx;
	min-height: 250px;
	.row {
		margin-left: -10upx;
		margin-right: -10upx;
		.col {
			float: left;
			width: 50%;
			padding-left: 10upx;
			padding-right: -10upx;
			margin-bottom: 20upx;
			.item {
				background-color: #fff;
				padding: 20upx;
				border-radius: 10upx;
				image {
					width: 100%;
					height: 150upx;
				}
				.caption {
					font-size: 24upx;
					overflow : hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					height: 80upx;
					line-height: 40upx;
					margin-top: 10upx;
					text {
						font-size: 18upx;
						border: 1px solid #FF4A4A;
						border-radius: 4upx;
						color: #FF4A4A;
						padding: 2upx 6upx;
						margin-right: 10upx;
					}
				}
				.foot {
					color: #FF9813;
					font-size: 36upx;
					margin-top: 20upx;
					text {
						font-size: 24upx;
					}
				}
			}
		}
	}
	.row:before,
	.row:after {
		content: '';
		display: table;
		clear: both;
	}
}