.content {
	display: flex;
	flex-direction: column;
}

.form-contain {
	position: relative;
	z-index: 2;
	padding-left: 20upx;
	padding-right: 20upx;
	.h2 {
		font-size: 30upx;
		color: #404040;
	}
	.p {
		margin-top: 20upx;
		font-size: 24upx;
		display: inline-block;
		background-color: #4AA63C;
		padding: 20upx;
		border-radius: 20upx;
		color: #fff;
		.iconfont {
			margin-left: 10upx;
			font-size: 24upx;
		}
	}
	.ipt-box {
		position: relative;
		border-bottom: 1px solid #D3D3D3;
		display: flex;
		align-items: center;
		.placeholder {
			position: absolute;
			z-index: 1;
			left: 0;
			font-size: 30upx;
			color: #c9c9c9;
		}
		input {
			position: relative;
			z-index: 3;
			height: 120upx;
			font-size: 72upx;
			color: #4AA63C;
		}
	}
	& + .form-contain {
		margin-top: 30upx;
	}
}

.row:before,
.row:after {
	content: '';
	display: table;
	color: bboth;
}

.row {
	margin-top: 20upx;
	.col {
		float: left;
		width: 33.33%;
		padding-left: 15upx;
		padding-right: 15upx;
		margin-top: 30upx;
		.item {
			height: 80upx;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 5upx;
			border: 1px solid #4AA63C;
			text-align: center;
			transition: all .24s;
			.h4 {
				font-size: 30upx;
				color: #4AA63C;
			}
			.p {
				color: #FF9813;
				font-size: 18upx;
				margin-top: 5upx;
			}
		}
		.item.active {
			background-color: #429435;
			.h4 {
				color: #fff;
			}
		}
	}
}

.btn {
	padding-left: 30upx;
	padding-right: 30upx;
	margin-top: 20%;
	button {
		background-color: #4AA63C;
		font-size: 36upx;
		border-radius: 20upx;
		height: 88upx;
		line-height: 88upx;
	}
}