page {
	background-color: #f5f5f5;
	height: 100%;
}

.content {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.picker-item {
	display: flex;
	align-items: center;
	padding: 20upx;
	background-color: #fff;
	.text {
		flex: 1;
		width: 1%;
		text-align: right;
		color: #b3b3b3;
	}
}

.btn {
	border-radius: 0;
	height: 90upx;
	background-color: #81bdff;
	line-height: 90upx;
	&.button-hover {
		background-color: #81bdff;
	}
}

.profit {
	text-align: center;
	background-color: #fff;
	height: 100upx;
	line-height: 100upx;
	color: #e53838;
	font-weight: bold;
}

scroll-view {
	flex: 1;
	height: 1%;
	background-color: #fff;
	.item {
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 30upx;
		& + .item {
			margin-top: 20upx;
		}
		.left {
			.h4 {
				font-weight: bold;
			}
			.p {
				color: #adadad;
				margin-top: 20upx;
			}
		}
		.right {
			font-weight: bold;
			color: #4cbd1d;
		}
	}
}