.fixed-topbar {
	position: relative;
	image {
		width: 100%;
		height: 231px;
	}
	.fixed-item {
		position: fixed;
		z-index: 10;
		top: 0;
		left: 0;
		width: 100%;
		.title {
			position: relative;
			display: flex;
			align-items: center;
			color: #fff;
			justify-content: center;
			.iconfont {
				position: absolute;
				z-index: 1;
				font-size: 40upx;
				padding-left: 20upx;
				left: 0;
				font-weight: bold;
			}
			.h1 {
				font-size: 37upx;
			}
		}
	}
	.address-box {
		position: absolute;
		z-index: 1;
		width: 95%;
		left: 0;
		right: 0;
		bottom: -20%;
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;
		box-shadow: 0 5upx 18upx 0 rgba(0, 0, 0, 0.1);
		border-radius: 20upx;
		padding: 25upx 30upx;
		.tabs {
			position: relative;
			font-size: 28upx;
			color: #429435;
			padding-bottom: 10upx;
		}
		.tabs:after {
			content: '';
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: 0;
			width: 20upx;
			height: 2px;
			background-color: #429435;
		}
		.flex {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 30upx;
			.left {
				flex: 1;
				width: 1%;
				margin-right: 20upx;
				.h4 {
					font-size: 37upx;
				}
				.p {
					font-size: 24upx;
					margin-top: 20upx;
					text {
						margin-left: 20upx;
					}
				}
			}
			.right {
				.iconfont {
					font-size: 30upx;
					color: #C8C8C8;
				}
			}
		}
		.foot {
			color: #FF9813;
			font-size: 20upx;
			margin-top: 30upx;
			.iconfont {
				font-size: 40upx;
				vertical-align: -6upx;
				margin-right: 10upx;
			}
		}
	}
}

.goods-wrap {
	width: 95%;
	margin: 120upx auto 0;
	background-color: #fff;
	box-shadow: 0 5upx 18upx 0 rgba(0, 0, 0, 0.1);
	border-radius: 20upx;
	padding: 30upx;
	.item {
		display: flex;
		padding-top: 20upx;
		padding-bottom: 20upx;
		image {
			width: 160upx;
			height: 130upx;
		}
		.info {
			flex: 1;
			width: 1%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			margin-left: 20upx;
			.h4 {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
				height: 65upx;
				line-height: 35upx;
				font-size: 30upx;
			}
			.bt {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 24upx;
				.right {
					color: #FF9813;
				}
			}
		}
		& + .item {
			border-top: 1px solid #F0F0F0;
		}
	}
	.coupon-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 30upx;
		padding-top: 30upx;
		padding-bottom: 30upx;
		border-top: 1px solid #F0F0F0;
		.left {
			color: #B3B3B3;
		}
		.right {
			.iconfont {
				font-size: 30upx;
				color: #C8C8C8;
				margin-left: 10upx;
			}
		}
	}
	.foot {
		text-align: right;
		border-top: 1px solid #F0F0F0;
		font-size: 30upx;
		padding-top: 40upx;
		padding-bottom: 10upx;
		.warn {
			margin-left: 10upx;
			margin-right: 10upx;
			color: #FF9813;
		}
		.small {
			font-size: 24upx;
			color: #FF9813;
			margin-left: 10upx;
		}
		.big {
			font-size: 42upx;
			color: #FF9813;
		}
	}
}

.pay-way {
	margin: 30upx;
	padding: 20upx 30upx;
	border-radius: 20upx;
	box-shadow: 0 0 20upx rgba($color: #000000, $alpha: .15);
	background-color: #fff;
	.item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-top: 20upx;
		padding-bottom: 20upx;
		.left {
			font-size: 30upx;
			.iconfont {
				margin-right: 20upx;
				font-size: 40upx;
			}
			.icon-qb {
				color: #ff9813;
			}
			.icon-wxzf {
				color: #6dbc41;
				vertical-align: -4upx;
			}
			.warn {
				color: #FF9813;
				margin-left: 20upx;
			}
		}
		.right {
			image {
				width: 40upx;
				height: 40upx;
			}
		}
	}
}

.empty-fixed {
	height: 120upx;
}

.fixed-bottom-btn {
	position: fixed;
	z-index: 10;
	bottom: 20upx;
	left: 0;
	width: 100%;
	padding-left: 30upx;
	padding-right: 30upx;
	button {
		height: 88upx;
		line-height: 88upx;
		background-color: #429435;
		border-radius: 20upx;
		font-size: 36upx;
	}
}