.bg-wrap {
	position: relative;
	.bg {
		width: 100%;
		height: 300upx;
	}
	.avatar-box {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		top: 110upx;
		image {
			margin-left: auto;
			margin-right: auto;
			width: 120upx;
			height: 120upx;
			border-radius: 100%;
		}
		.p {
			color: #fff;
			text-align: center;
			margin-top: 20upx;
		}
	}
}

.panel-group {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0 0 20upx rgba($color: #000000, $alpha: .15);
	border-radius: 10upx;
	margin-top: 30upx;
	.item {
		display: flex;
		justify-content: space-between;
		padding: 15upx;
		.left {
			text {
				font-size: 40upx;
				vertical-align: -4upx;
				margin-right: 10upx;
				color: #1f6ecf;
			}
		}
		.right {
			.iconfont {
				font-size: 40upx;
				color: #ccc;
			}
		}
	}
}

.btn-group {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50upx;
	button {
		height: 90upx;
		line-height: 90upx;
		background-color: #5aa9ff;
		border-radius: 50upx;
	}
}